@page
@model EncuestaRazor.Pages.Testing.Index

@{
    Layout = "Shared/_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h1>Test inside directory Testing/Index</h1>
</div>
</body>
</html>