@page
@model IndexModel
@{
    ViewData["Title"] = "Survey";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="alert alert-primary text-center fw-bold">
        <a asp-page="Survey">Access to Survey</a>
    </div>
</div>