@page
@model EncuestaRazor.Pages.Results

@{
}

<h1>Resultados Encuesta</h1>
<div class="row">
    <div class="col text-center">
        <table class="table table-bordered">
            <thead class="bg-primary text-white">
            <tr>
                <th>Nombre</th>
                <th>¿Desea realizar guardias en oficina?</th>
                <th>Comentarios</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var survey in Model.Surveys)
            {
                <tr>
                    <td>@survey.Name</td>
                    <td>@(survey.Guards ? "Si" : "No")</td>
                    <td>@survey.Comments</td>
                </tr>
            }
            </tbody>
        </table>
        <a class="btn btn-primary" asp-page="Index">Regresar</a>
    </div>
</div>