@page "/Testing2"
@model EncuestaRazor.Pages.Testing2

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h1>Tests inside directory Root</h1>
</div>
</body>
</html>